# IntelliJ
.idea/*
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/codeStyles/
!.idea/modules.xml
!.idea/*.iml
!.idea/README.md

.DS_Store

# node
node_modules
dist
build
*.tgz

# testing
coverage
.nyc_output

# turborepo
.turbo

# contented
.contented
