.prose .toc {
  @apply sr-only;
}

.prose .admonitions {
  @apply relative my-6 rounded-r px-6 py-0.5;
  @apply before:absolute before:inset-0 before:h-full before:w-1;
  @apply dark:text-slate-200;

  @apply before:bg-slate-500 before:dark:bg-slate-600;
  @apply bg-slate-100 dark:bg-slate-800;
}

.prose .admonitions.red {
  @apply before:bg-red-500 before:dark:bg-red-600;
  @apply bg-red-100 dark:bg-red-800;
}

.prose .admonitions.yellow {
  @apply before:bg-amber-500 before:dark:bg-amber-600;
  @apply bg-amber-100 dark:bg-amber-800;
}

.prose .admonitions.green {
  @apply before:bg-green-500 before:dark:bg-green-600;
  @apply bg-green-100 dark:bg-green-800;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply -ml-6 pl-6;
  @apply font-semibold;
}

.prose :is(h1, h2, h3, h4, h5, h6):hover > a:first-child {
  @apply block;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a:first-child {
  @apply hidden;
}

.prose :is(h1, h2, h3, h4, h5, h6) a:first-child:before {
  content: '#';
  @apply text-primary-500 absolute -ml-6;
}

.prose code:not(pre code):not(:where([class~='not-prose'] *)) {
  padding: 0.2em 0.4em;
  border-radius: 6px;
  @apply font-medium;
  @apply rounded border;
  @apply border-slate-200/70 bg-slate-100/70 text-slate-800;
  @apply dark:border-slate-700/70 dark:bg-slate-800/70 dark:text-slate-200;
}

.prose .table-auto table {
  display: table;
  table-layout: auto;
}

.prose .table-fixed table {
  display: table;
  table-layout: fixed;
}

.prose .mermaid {
  border-radius: 6px;
  @apply p-6;
  @apply flex items-center justify-center;
  @apply bg-slate-100/50 dark:bg-slate-800/50;
}

.prose .rehype-shiki pre.theme-light {
  border-radius: 6px;
  @apply border border-slate-200/70;
  @apply block !important;
  @apply dark:hidden !important;
}

.prose .rehype-shiki pre.theme-dark {
  border-radius: 6px;
  display: none;
  @apply border border-slate-700/70;
  @apply dark:block !important;
}

.prose pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.prose pre code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.25rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
