.prose .toc {
  @apply sr-only;
}

.prose .admonitions {
  @apply relative my-6 rounded-r px-6 py-0.5;
  @apply before:absolute before:inset-0 before:h-full before:w-[3px];
  @apply dark:text-slate-200;

  @apply before:bg-slate-400/50 before:dark:bg-slate-700/50;
  @apply bg-slate-100/50 dark:bg-slate-800/50;
}

.prose .admonitions.red {
  @apply before:bg-red-400/50 before:dark:bg-red-700/50;
  @apply bg-red-100/50 dark:bg-red-800/50;
}

.prose .admonitions.yellow {
  @apply before:bg-amber-400/50 before:dark:bg-amber-700/50;
  @apply bg-amber-100/50 dark:bg-amber-800/50;
}

.prose .admonitions.green {
  @apply before:bg-green-400/50 before:dark:bg-green-700/50;
  @apply bg-green-100/50 dark:bg-green-800/50;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply -ml-6 pl-6;
  @apply font-semibold;
}

.prose :is(h1, h2, h3, h4, h5, h6):hover > a:first-child {
  @apply block;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a:first-child {
  @apply hidden;
}

.prose :is(h1, h2, h3, h4, h5, h6) a:first-child:before {
  content: '#';
  @apply text-primary-500 absolute -ml-6;
}

.prose code:not(pre code):not(:where([class~='not-prose'] *)) {
  padding: 0.2em 0.4em;
  @apply font-medium;
  @apply rounded border;
  @apply rounded-[6px] border-slate-200/70 bg-slate-100/70 text-slate-800;
  @apply dark:border-slate-700/70 dark:bg-slate-800/70 dark:text-slate-200;
}

.prose .table-auto table {
  display: table;
  table-layout: auto;
}

.prose .table-fixed table {
  display: table;
  table-layout: fixed;
}

.prose .mermaid {
  @apply rounded-[6px] p-6;
  @apply flex items-center justify-center;
  @apply bg-slate-100/50 dark:bg-slate-800/50;
}

.prose .rehype-shiki pre.css-variable {
  @apply rounded-[6px] border;
  @apply border-slate-200/70 dark:border-slate-700/70;
  color: #24292f;

  --shiki-color-text: #24292f;
  --shiki-color-background: #ffffff;
  --shiki-token-constant: #0550ae;
  --shiki-token-string: #0550ae;
  --shiki-token-comment: #6e7781;
  --shiki-token-keyword: #cf222e;
  --shiki-token-parameter: #24292e;
  --shiki-token-function: #8250df;
  --shiki-token-string-expression: #0a3069;
  --shiki-token-punctuation: #24292f;
  --shiki-token-link: #24292f;
}

.dark .prose .rehype-shiki pre.css-variable {
  color: #c9d1d9;

  --shiki-color-text: #c9d1d9;
  --shiki-color-background: #0d1117;
  --shiki-token-constant: #79c0ff;
  --shiki-token-string: #79c0ff;
  --shiki-token-comment: #8b949e;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #e1e4e8;
  --shiki-token-function: #d2a8ff;
  --shiki-token-string-expression: #a5d6ff;
  --shiki-token-punctuation: #c9d1d9;
  --shiki-token-link: #c9d1d9;
}

.prose .codeblock-header header,
.prose .codeblock-group nav {
  @apply rounded-t-[6px] border;
  @apply border-slate-200/70 dark:border-slate-700/70;
  @apply h-[40px] bg-slate-100/50 px-4 dark:bg-[#0d1117];
  @apply flex items-center justify-between;
  @apply text-sm text-slate-500 dark:text-slate-400;
}

.prose .codeblock-header .rehype-shiki pre.css-variable {
  @apply mt-0 rounded-t-none border-t-0;
}

.prose .codeblock-group .codeblock-header header {
  @apply hidden;
}

.prose .codeblock-group nav button.codeblock-language-selected {
  @apply cursor-pointer;
  @apply -mr-2.5 rounded px-2.5 py-1;
  @apply hover:text-slate-700 dark:hover:text-slate-300;
  @apply hover:bg-slate-200/50 dark:hover:bg-slate-700/50;
}

.prose .codeblock-group nav button.codeblock-language-selected::after {
  content: '▾';
  font-size: 18px;
  @apply ml-1;
}

.prose .codeblock-group nav span.codeblock-language {
  @apply relative;
}

.codeblock-language-options {
  @apply hidden;
  @apply absolute -right-6 -top-6 p-6;
}

.codeblock-language-options div {
  @apply rounded p-1.5;
  @apply bg-white shadow-lg dark:bg-slate-800;
  @apply flex flex-col;
}
.codeblock-language-options div > button {
  @apply cursor-pointer;
  @apply rounded px-3 py-1;
  @apply hover:text-slate-700 dark:hover:text-slate-300;
  @apply hover:bg-slate-200/50 dark:hover:bg-slate-900/50;
}

button.codeblock-language-selected:focus + div.codeblock-language-options,
div.codeblock-language-options:hover {
  @apply flex;
}

.prose pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.prose pre code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-5 inline-block w-4 text-right;
  color: rgba(115, 138, 148, 0.4);
}
